---
layout: default
title: Nosaltres
permalink: /nosaltres/
---
<section class="text-gray-600 body-font">
    <div class="container px-5 py-5 mx-auto">
        {% for item in site.data.nosaltres %}
        <div class="flex items-center lg:w-full mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
            {% if item.left %}
            <div class="flex flex-shrink-0 sm:text-left text-center mt-6 sm:mt-0">
                <img alt="{{ item.title }}" class="rounded-lg w-full h-56 object-cover object-center mb-4" src="{{ item.image }}">
            </div>
            {% endif %}
            <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="sm:w-16 sm:h-16 w-10 h-10" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                </svg>
            </div>
            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-2">{{ item.title }}</h2>
                <p class="leading-relaxed text-base">{{ item.description }}</p>
                <p class="leading-relaxed text-base">{{ item.description2 }}</p>
                <a class="mt-3 text-yellow-500 inline-flex items-center">Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
            {% if item.right %}
            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                <img alt="{{ item.title }}" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="{{ item.image }}">
            </div>
            {% endif %}
        </div>
        {% endfor %}

<!--        <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">-->
<!--            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">-->
<!--                <h2 class="text-gray-900 text-lg title-font font-medium mb-2">The Catalyzer</h2>-->
<!--                <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>-->
<!--                <a class="mt-3 text-yellow-500 inline-flex items-center">Learn More-->
<!--                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">-->
<!--                        <path d="M5 12h14M12 5l7 7-7 7"></path>-->
<!--                    </svg>-->
<!--                </a>-->
<!--            </div>-->
<!--            <div class="sm:w-32 sm:order-none order-first sm:h-32 h-20 w-20 sm:ml-10 inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 flex-shrink-0">-->
<!--                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="sm:w-16 sm:h-16 w-10 h-10" viewBox="0 0 24 24">-->
<!--                    <circle cx="6" cy="6" r="3"></circle>-->
<!--                    <circle cx="6" cy="18" r="3"></circle>-->
<!--                    <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>-->
<!--                </svg>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="flex items-center lg:w-3/5 mx-auto sm:flex-row flex-col">-->
<!--            <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 flex-shrink-0">-->
<!--                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="sm:w-16 sm:h-16 w-10 h-10" viewBox="0 0 24 24">-->
<!--                    <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>-->
<!--                    <circle cx="12" cy="7" r="4"></circle>-->
<!--                </svg>-->
<!--            </div>-->
<!--            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">-->
<!--                <h2 class="text-gray-900 text-lg title-font font-medium mb-2">The 400 Blows</h2>-->
<!--                <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>-->
<!--                <a class="mt-3 text-yellow-500 inline-flex items-center">Learn More-->
<!--                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">-->
<!--                        <path d="M5 12h14M12 5l7 7-7 7"></path>-->
<!--                    </svg>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</section>


<section class="text-gray-600 body-font">
    <div class="container px-5 py-6 mx-auto">
        <div class="flex flex-wrap -m-4">
            {% for item in site.data.nosaltres %}
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <img alt="{{ item.title }}" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4"
                         src="{{ item.image }}">
                    <div class="w-full">
                        <h2 class="title-font font-medium text-lg text-gray-900">{{ item.title }}</h2>
<!--                        // TODO Icona-->
<!--                        <h3 class="text-gray-500 mb-3">UI Developer</h3>-->
                        <p class="mb-4 mt-4 text-center text-sm">{{ item.description }}</p>
                        <p class="mb-4 text-sm">{{ item.description2 }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
