<footer class="bg-gray-100">
    <div class="relative max-w-screen-xl px-4 py-4 mx-auto sm:px-6 lg:px-8 lg:pt-1 bottom-0">
        <div class="lg:flex lg:items-end lg:justify-between">
            <p class="mt-12 text-sm text-center text-gray-400 lg:text-right">
                &copy; {{ "now" | date: "%Y" }}. Fusteria Pau - Tel. <strong class="text-gray-600 ml-1">+34 696 536 029</strong>
            </p>
            <nav class="mt-12 lg:mt-0" aria-labelledby="footer-navigation">
                <h2 class="sr-only" id="footer-navigation">Footer navigation</h2>

                <ul class="flex flex-wrap justify-center gap-6 lg:justify-end md:gap-8 lg:gap-12">
                    <li>
                        <a class="text-gray-700 transition hover:text-gray-700/75" href="/nosaltres">
                            Nosaltres
                        </a>
                    </li>
                    <li>
                        <a class="text-gray-700 transition hover:text-gray-700/75" href="/serveis">
                            Serveis
                        </a>
                    </li>
                    <li>
                        <a class="text-gray-700 transition hover:text-gray-700/75" href="/contacte">
                            Contacte
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
