<!doctype html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fusteria Pau</title>
    <script rel="preload"
            src="https://cdn.tailwindcss.com"
            as="style"></script>

</head>
<body>
{% include navbar.html %}
<section>
    {{ content }}
</section>
{% include footer.html %}
</body>
</html>
